body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #3791b4;
    -webkit-font-smoothing: antialiased;

    margin: 0;
}

* ,
*:before,
*:after{
    box-sizing: border-box; /*ficsated size from margin*/
}

h1, h2, h3, h4, h5, h6 { /*V nih est' vstroeniy otstup mi ego ubiraem*/
    margin: 0;
}

p {
    margin: 0 0 15px;
}


/* Container
======================== */

.container {
    width: 1200px;
    max-width:  85%;
    margin: 0 auto;
}

/*  Searcher
====================*/

.searcher{
    width: 100%;
    height: 63px;
    background-color:#3791b4;
    border: 5px solid #515369;
    border-radius: 31px;
    display: flex;
    flex-direction: row;
}

.search_bar{
    width: 80%;
    height: 40px;
    border: none;
    background-color: #EEEEEE;
    margin-left: 59px;
    margin-top: 7px;
    padding-left: 12px;
    border-radius: 20px;
    font-size: 16px;
}

.search_button{
    margin-left: 35px;
    margin-right: 25px;
    color: #F1E1CC;
    text-decoration: none;
    opacity: 0.9;
    height: 40px;
    margin-top: 7px;
    transition: opacity .2s linear;
    transition: background .2s linear;
    background-color: rgb(223, 82, 0);

    display: block;
    border: 2px solid #F1E1CC;
    padding: 6px 26px;
    border-radius: 30px;
    font-size: 18px;
}
.search_button:hover {
    background-color: #2199c6;
    opacity: 1;
}

/* Header
========================*/
.header {
    position: fixed; /*Up all*/
    margin-top: 0;

    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 126px;
    display: flex;
    flex-direction: column;
    background-color:#3791b4;
}

.header__inner {
    display: flex;
    max-height: 63px;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    width: 100%;
}

.nav {
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.nav__link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity .2s linear;
    transition: border .2s linear;
}
.nav__link:hover {
    opacity: 1;
    border-bottom: 1px solid #fff;
}
.header__logo {
    font-size: 35px;
    color: #e65613;
    
}
.sing_in {
    margin-top: -7px;
    font-size: 16px;;
    margin-left: 25px;
    margin-right: 25px;
    color: #F1E1CC;
    text-decoration: none;
    opacity: 0.9;

    transition: opacity .2s linear;
    transition: background .2s linear;
    background-color: rgb(223, 82, 0);

    display: block;
    border: 2px solid #F1E1CC;
    padding: 6px 26px;
    border-radius: 30px;
    font-size: 18px;
}
.sing_in:hover {
    background-color: #2199c6;
    opacity: 1;
}

/* Recipe List
========================*/
.recipes {
    margin-top: 160px;
    display: flex;
    color: #000;
    flex-wrap: wrap;
}
.recipe_list {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin-right: 100px;
    height: 300px;
    background-color: #e65613;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border: 15px ridge rgb(58, 85, 206);
    border-radius: 15px;
}
.recipe {
    padding: 20px;
    width: 85%;
}

.book_img {
    width: 300px;
    padding-top: 1%;
    margin-left: 10px;
}

.img_cover{
    padding-top: 0px;
    width: 250px;
    height: 250px;
}

.recipes_img {
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.img_item {
    width: 30px;
    padding-top: 50%;
}

.recipe_name {
    margin: 20px 5px;
    writing-mode: vertical-rl;
    justify-content: center;
}

/*BookPage
========================*/
.border{
    width: 96%;
    margin-left: 2%;
    border: 10px ridge rgb(58, 85, 206);
    border-radius: 7px;
    margin-top: 160px;
}

.book_block{
    height: 450px;
    width: 100%;
    max-height: 500px;
    background-color: #e65613;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.comment_block{
    height: auto;
    width: 100%;
    background-color: #e65613;
    padding: 15px;
    color: rgb(0, 0, 0);
    position: relative;
}

.comment{
    width: 96%;
    height: 150px;
    background-color: #64cef8;
    margin-left: 2%;
    margin-top: 15px;
    border: 10px ridge rgb(58, 85, 206);
    border-radius: 10px;
    display: flex;
    justify-content: left;
}

.comment_zone{
    height: 100%;
    width: 100%;
    margin: 4px;
}

.avatar{
    width: auto;
    height: 100%;
    border: 10px ridge #7405a8;
}

.cover{
    width: 300px;
    height: 300px;
}

.book_description{
    width: 70%;
    height: 95%;
    margin-top: 2%;
    color: #000;
    overflow: auto;
}

.cover_imege{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 90%;
    border: 15px ridge rgb(58, 85, 206);
    border-radius: 15px;
}

/* Recipe List__
========================*/
.window__link{
    width: 40px;
    margin-right: 10px;
}

.topbutton {
    width: 155px;
    height: 55px;
    border:none;
    text-decoration: none;
    background:#3791b4;
    text-align:center;
    cursor:pointer;
    border-radius: 5px;
    padding-top: 10px;
    margin: 10px;
    margin-left: 20px;
    color: #000;
    border: 2px ridge rgb(0, 0, 0);
}
.topbutton:hover {background:#5946fc;}

.button__add{
    padding: 16px;
}




#Contact_us {
    width: 550px;
    height: 300px;
    text-align: left;
    border: none;
    background-color: #FFF;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
    border-radius: 10px;
}
  #Contact_us:target {display: block;}
  .Contact_us-h{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15;
    color: #000;
    margin-left: 59px;
    margin-top: 26px;
  }






#window__add {
    width: 550px;
    height: 266px;
    text-align: left;
    border: none;
    background-color: #FFF;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
    border-radius: 10px;
}
  #window__add:target {display: block;}
  .window__add-h{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15;
    color: #000;
    margin-left: 59px;
    margin-top: 26px;
  }
.window__add-name{
    width: 191px;
    height: 26px;
    border: none;
    background-color: #EEEEEE;
    margin-left: 59px;
    margin-top: 10px;
    padding-left: 12px;
}
.window__add-name::placeholder{
    color: #C1C1C1;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.window__add-text{
    width: 419px;
    height: 94px;
    border: none;
    background-color: #EEEEEE;
    margin-left: 59px;
    margin-top: 10px;
    padding-left: 12px;
    padding-top: 7px;
    resize: none;

}
.window__add-text::placeholder{
    color: #C1C1C1;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.window__button__container{
    width: 375px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}
.window__link{
    margin-left: 100px;
}
.window__add-button{
    border: none;
    width: 140px;
    height: 31px;
    margin-top: 10px;
    background-color: #3791b4;
    margin-left: 0px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-radius: 8px;
}
.window__add-button--cancel{
    border: none;
    width: 140px;
    height: 31px;
    margin-top: 10px;
    background-color: #e65613;
    margin-left: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-radius: 8px;
}
.window__add-button:hover {background:#829DFF;}

.window__add-button--cancel:hover {background:#d61c1c;}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#drop__second{
    margin-left: 98px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    font-size: 14px;
    font-weight: 400px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #829DFF;}
